#skills {
    min-height: 100vh;
    margin: 4rem auto 0 auto;
    scroll-margin-top: 120px;

}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
}

.skills-header {
    font-size: 1.8rem;
    font-weight: 700;
    color: rgb(197, 197, 197);
    padding-bottom: 25px;
}

.skills-text {
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(200, 200, 200);
    max-width: 800px;
    padding-bottom: 25px;
    line-height: 1.8rem;
    text-align: center;
}


.skills-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
    max-width: 600px;
    margin: 4rem;
}

.skill-icon {
    height: 56px;
}

@media (max-width: 780px) {
    #skills {
        padding: 32px;
    }

    .skills-grid {
        margin: 2rem;
        padding-bottom: 25px;
    }

    .skill-icon {
        height: 48px;
    }
}